@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    font-family: "Open Sans";
    color: #333;
}

body {
    background-color: #f8f9fa;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 28px;
}